.footer-top{
    h3{
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding-bottom: 30px;
    }
    li{
        &:hover{
            color: var(--main-color);
            cursor: pointer;
        }
    }
    img{
        width: 30px;
    }
}